


    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">




            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h1 class="mb-4">ORDER DETAILS</h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Name Of Customer</th>
                                    <th scope="col"></th>
                                    <th scope="col">OrderDate</th>
                                    <th scope="col"></th>
                                    <th scope="col">PaymentMethod</th>
                                    <th scope="col"></th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col"></th>
                                    <th scope="col">Status</th>



                                </tr>
                            </thead>
                            <tbody>
                                <% if( orderData.length> 0){
                                    for(let i=0 ;i< orderData.length ; i++){ %>
                                        <tr>
                                            <!-- <th scope="row">1</th> -->
                                            <td>
                                                <%= orderData[i].user %>
                                            </td>
                                            <!-- <td>Doe</td> -->
                                            <td></td>
                                            <td>
                                                <%= orderData[i].date.toISOString().substring(0,10) %>
                                            </td>
                                            <td> </td>
                                            <td></td>
                                            <td> <%= orderData[i].paymentMethod %></td>
                                            
                                            <td></td>

                                            <td>
                                                <%= orderData[i].totalAmount %>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <%= orderData[i].status %>
                                            </td>

                                                

                                                

                                                

                                                  
                                        </tr>


                                        <% } } else{ %>
                                            <tr>
                                                <td colspan="5">Not order Found</td>
                                            </tr>
                                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->

  