<%-include('../partials/adminHead.ejs')%>


    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">




            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">ORDER DETAILS</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Name Of Customer</th>
                                    <th scope="col">OrderDate</th>
                                    <th scope="col">PaymentMethod</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col"> View</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Controls</th>
                                    <th scope="col">DELIVER CONTROL</th>
                                    <th scope="col">RETURN </th>



                                </tr>
                            </thead>
                            <tbody>
                                <% if( orderData.length> 0){
                                    for (let i = orderData.length - 1; i >= 0; i--) { %>
                                        <tr>
                                            <!-- <th scope="row">1</th> -->
                                            <td>
                                                <%= orderData[i].user %>
                                            </td>
                                            <!-- <td>Doe</td> -->
                                            <td>
                                                <%= orderData[i].date.toISOString().substring(0,10) %>
                                            </td>
                                            <td> <%= orderData[i].paymentMethod %></td>

                                            <td>
                                                <%= orderData[i].totalAmount %>
                                            </td>
                                            <td><a href="/admin/single_orderAdmin?id=<%=orderData[i]._id%>" class=" btn btn-info">view </a></td>
                                            

                                                <% if (orderData[i].status==="placed") { %>
                                            
                                            <td> <%= orderData[i].status %></td>
                                                
                                                <td><a class="btn btn-danger"
                                                    href="/admin/order_status?id=<%=orderData[i]._id%>">Cancel</a></td>
                                            <% } else { %>
                                                
                                                <td> <%= orderData[i].status %></td>
                                                    </td>
                                                    <td><a class="btn btn-danger"
                                                        href="/admin/order_status?id=<%=orderData[i]._id%>">cancelled</a></td>
                                                       
                                                        
                                                <%}%>

                                                <% if (orderData[i].status==="placed") { %>
                                            
                                                  
                                                </td>
                                                <td><a class="btn btn-warning"
                                                    href="/admin/orderDeliver_status?id=<%=orderData[i]._id%>">Deliver</a></td>
                                            <% } else { %>
                                                
                                                <td> cancelled</td>
                                                        
                                                <%}%>

                                                <% if (orderData[i].status==="pending") { %>
                                            
                                                  
                                                </td>
                                                <td><a class="btn btn-info"
                                                    href="/admin/orderReturn_status?id=<%=orderData[i]._id%>">Approve</a></td>
                                            <% } else { %>

                                                
                                                <td> </td>
                                                        
                                                <%}%>
                                                <% if (orderData[i].status==="pending") { %>
                                                <td><a class="btn btn-danger"
                                                    href="/admin/orderReject_status?id=<%=orderData[i]._id%>">Reject</a></td>
                                                    <% } else { %>
                                                        <td> </td>
                                                        <%}%>

                                                  
                                        </tr>


                                        <% } } else{ %>
                                            <tr>
                                                <td colspan="5">Not order Found</td>
                                            </tr>
                                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->

    <%-include('../partials/adminFooter.ejs')%>